@colorFirst: #F0F0F0;
@colorFirstDark: @colorFirst - 20;
@colorSecond: #660066;
@tableBorderSize: 2px;
@tableBorderColor: #000000;
@tableWidth: 800px;

.advertTable {
	border: @tableBorderSize solid @tableBorderColor;
	width: @tableWidth;
	.tableHeader {
		background-color: grey;
	}
	.selectedRow {
		background-color: @colorSecond;
		color: white;
	}
	.deselectedRow {
		&:hover {
			background-color: @colorSecond + 225;
			color: black;
			cursor: pointer;
		}
	}
}
.filterButton {
	width: @tableWidth / 5;
	height: 50px;
	background-color: (@colorFirst - 50);
		&:hover {
			background: @colorSecond;
		 	color: white;
		}
}
.button {
	background-color: (@colorFirst - 50);
	&:enabled {
		&:hover {
			background: @colorSecond;
	 		color: white;
		}		
	}
}	
h1 {
	text-align: center;
}
body {
	background-color: @colorFirst;
}

.gwt-SuggestBoxPopup {
	background: white;
	border: 2px solid @colorSecond;
	.item-selected {
	  background: @colorSecond;
	  color: white;
	}
}
.dialog {
	background-color: @colorFirst - 30;
	border: 3px solid @colorSecond;
	.Caption {
		background-color: @colorSecond;
		color: white;
		text-align: center;
	}
	.vPanel {
		padding: 5px;
	}	
	.disclosurePanel {
		.header {
			text-decoration: none;  /* Remove underline from header */
		  	color: black; 
		  	cursor: pointer;
		}
		.content {
			border-left: 3px solid @colorSecond;		
	  		padding: 4px 0px 4px 8px;
			margin-left: 6px;
		}
		.dropBox {
			width: 200px;
		}
		.suggestBox {
			width: 200px;
			&:focus {
				border: 2px solid @colorSecond;
			}
		}		
	}
	input {
		width: 80px;
		border: 2px solid (@colorFirst - 10);
		&:focus {
			border: 2px solid @colorSecond;
		}
	}	
}
.dropBox {
	width: 250px;
	option {
		background: white;
		color: black;
		&:hover {
			background: @colorSecond;
		 	color: white;
		 	}
	}
	&:focus {
		border: 2px solid @colorSecond;
	}
}