@tableBorderSize: 2px;
@tableBorderColor: #000000;
.advertTable {
	border: @tableBorderSize solid @tableBorderColor;
	.tableHeader {
		background-color: grey;
	}
	.selectedRow {
		background-color: blue;
		color: white;
	}
}

h1 {
	text-align: center;
}