.advertTable {
  border: 2px solid #000000;
}
.advertTable .tableHeader {
  background-color: grey;
}
.advertTable .selectedRow {
  background-color: blue;
  color: white;
}
h1 {
  text-align: center;
}
.dialog {
  background-color: #f0f0f0;
}
.dialog .dropBox {
  width: 180px;
}
.dialog .disclosurePanel .content {
  border-left: 3px solid #e7e7e7;
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}
.dialog .disclosurePanel .content .dropBox {
  width: 150px;
}
