.advertTable {
  border: 2px solid #000000;
}
.advertTable .tableHeader {
  background-color: grey;
}
.advertTable .selectedRow {
  background-color: blue;
  color: white;
}
h1 {
  text-align: center;
}
.gwt-SuggestBoxPopup {
  background: white;
  border: 2px solid #660066;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #660066;
  color: white;
}
.dialog {
  background-color: #d2d2d2;
  border: 3px solid #660066;
}
.dialog .Caption {
  background-color: #660066;
  color: white;
  text-align: center;
}
.dialog .vPanel {
  padding: 5px;
}
.dialog .disclosurePanel .header {
  text-decoration: none;
  /* Remove underline from header */

  color: black;
  cursor: pointer;
}
.dialog .disclosurePanel .content {
  border-left: 3px solid #660066;
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}
.dialog .disclosurePanel .dropBox {
  width: 200px;
}
.dialog .disclosurePanel .suggestBox {
  width: 200px;
}
.dialog .disclosurePanel .suggestBox:focus {
  border: 2px solid #660066;
}
.dialog input {
  width: 80px;
  border: 2px solid #e6e6e6;
}
.dialog input:focus {
  border: 2px solid #660066;
}
.dropBox {
  width: 250px;
}
.dropBox option {
  background: white;
  color: black;
}
.dropBox option:hover {
  background: #660066;
  color: white;
}
.dropBox:focus {
  border: 2px solid #660066;
}
